#pinForm{
    z-index:100;
    background-color: var(--secondary-background);
    max-width: 300px;
    height: fit-content;
    padding:20px;
    border-radius: 20px;

    display:flex;
    margin:auto;

    margin-top:35vh;

    flex-direction: column;
    justify-content: center;
}
#pinForm>img{
    width: 100%;

}
